<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- why in the fuck doesn't this load like the demo? Where to control if the radio buttons appear -->

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />

    <table class="job-listing" th:each="job : ${jobs}">
        <!-- I guess check th:if syntax -->
        <tr th:each = "field : ${job}">
            <td th:text="${field.key}"></td>
            <td th:text="${field.value}"></td>
        </tr>
    </table>
    </form>


</div>

</body>
</html>